<!DOCTYPE html>
<html>
  <!--ヘッド*/-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mon-Do</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="stylesheets/stylesheet1.css" />
    <script src="/javascripts/header.js"></script>
  </head>

  <!--ボディ-->
  <body>
    <!--ヘッダー呼び出し-->
    <%- include('header'); %>

    <!--本文-->
    <div class="choice" id="content">
      <form action="/print/other" method="post">
        <div class="ctl">
          <div class="quecount">
            <h2>問題数</h2>
            <div class="count">
              <label for="5"><input type="radio" name="quecount" value="5" id="5" />5問</label>
              <label for="10"> <input type="radio" name="quecount" value="10" id="10" />10問</label>
              <label for="15"><input type="radio" name="quecount" value="15" id="15" checked />15問</label>
            </div>
          </div>
          <div class="tangens">
            <h2>出題範囲を選択してください</h2>
            <div class="tangen">
              <div class="tang">漢字（書き）</div>
              <div class="tan">
                <label for="wkanji1"><input type="checkbox" name="tangen" value="wkanji1" id="wkanji1" />１年生（書き） </label>
                <label for="wkanji2"><input type="checkbox" name="tangen" value="wkanji2" id="wkanji2" />２年生（書き） </label>
                <label for="wkanji3"><input type="checkbox" name="tangen" value="wkanji3" id="wkanji3" />３年生（書き） </label>
                <label for="wkanji4"><input type="checkbox" name="tangen" value="wkanji4" id="wkanji4" />４年生（書き） </label>
                <label for="wkanji5"><input type="checkbox" name="tangen" value="wkanji5" id="wkanji5" />５年生（書き） </label>
                <label for="wkanji6"><input type="checkbox" name="tangen" value="wkanji6" id="wkanji6" />６年生（書き） </label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">漢字（読み）</div>
              <div class="tan">
                <label for="rkanji1"><input type="checkbox" name="tangen" value="rkanji1" id="rkanji1" />１年生（読み） </label>
                <label for="rkanji2"><input type="checkbox" name="tangen" value="rkanji2" id="rkanji2" />２年生（読み） </label>
                <label for="rkanji3"><input type="checkbox" name="tangen" value="rkanji3" id="rkanji3" />３年生（読み） </label>
                <label for="rkanji4"><input type="checkbox" name="tangen" value="rkanji4" id="wkanji4" />４年生（読み） </label>
                <label for="rkanji5"><input type="checkbox" name="tangen" value="rkanji5" id="wkanji5" />５年生（読み） </label>
                <label for="rkanji6"><input type="checkbox" name="tangen" value="rkanji6" id="wkanji6" />６年生（読み） </label>
              </div>
            </div>
          </div>
        </div>
        <div class="print">
          <input type="hidden" name="printrange" value="printshufful" checked />
          <input type="hidden" name="tableName" value="japanese" />
          <input type="submit" class="btn" value="印刷" />
        </div>
      </form>
    </div>

    <!--フッター呼び出し-->
    <%- include('footer'); %>
  </body>
</html>
