<!DOCTYPE html>
<html>
  <!--ヘッド*/-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mon-Do</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="stylesheets/stylesheet1.css" />
    <script src="/javascripts/header.js"></script>
  </head>

  <!--ボディ-->
  <body>
    <!--ヘッダー呼び出し-->
    <%- include('header'); %>
    <!--本文-->
    <div class="choice">
      <form action="/print/math" method="post">
        <div class="ctl">
          <div class="quecount">
            <h2>問題数</h2>
            <div class="count">
              <label for="5"><input type="radio" name="quecount" value="5" id="5" />5問</label>
              <label for="10"> <input type="radio" name="quecount" value="10" id="10" />10問</label>
              <label for="15"><input type="radio" name="quecount" value="15" id="15" checked />15問</label>
            </div>
          </div>
          <div class="tangens">
            <h2>出題範囲を選択してください</h2>
            <div class="tangen">
              <div class="tang">整数のたし算</div>
              <div class="tan">
                <label for="m1000"><input type="checkbox" name="tangen" value="m1000" id="m1000" />くりあげなし</label>
                <label for="m1100"><input type="checkbox" name="tangen" value="m1100" id="m1100" />くりあげあり</label>
                <label for="m1200"><input type="checkbox" name="tangen" value="m1200" id="m1200" />２けた</label>
                <label for="m1300"><input type="checkbox" name="tangen" value="m1300" id="m1300" />むずかしめ</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">整数のひき算</div>
              <div class="tan">
                <label for="m1400"><input type="checkbox" name="tangen" value="m1400" id="m1400" />くりさげなし</label>
                <label for="m1500"><input type="checkbox" name="tangen" value="m1500" id="m1500" />２けた</label>
                <label for="m1600"><input type="checkbox" name="tangen" value="m1600" id="m1600" />３けた</label>
                <label for="m1700"><input type="checkbox" name="tangen" value="m1700" id="m1700" />むずかしめ</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">整数のかけ算</div>
              <div class="tan">
                <label for="m1800"><input type="checkbox" name="tangen" value="m1800" id="m1800" />九九</label>
                <label for="m1900"><input type="checkbox" name="tangen" value="m1900" id="m1900" />２けた</label>
                <label for="m2000"><input type="checkbox" name="tangen" value="m2000" id="m2000" />３けた</label>
                <label for="m2100"><input type="checkbox" name="tangen" value="m2100" id="m2100" />むずかしめ</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">整数のわり算</div>
              <div class="tan">
                <label for="m2200"><input type="checkbox" name="tangen" value="m2200" id="m2200" />〇〇÷１けた</label>
                <label for="m2300"><input type="checkbox" name="tangen" value="m2300" id="m2300" />〇〇÷２けた</label>
                <label for="m2400"><input type="checkbox" name="tangen" value="m2400" id="m2400" />あまりあり</label>
                <label for="m2500"><input type="checkbox" name="tangen" value="m2500" id="m2500" />むずかしめ</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">難しい計算　</div>
              <div class="tan">
                <label for="m2600"><input type="checkbox" name="tangen" value="m2600" id="m2600" />四則計算</label>
                <label for="m2700"><input type="checkbox" name="tangen" value="m2700" id="m2700" />かっこの計算</label>
                <label for="m2800"><input type="checkbox" name="tangen" value="m2800" id="m2800" />累乗</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">小数の計算　</div>
              <div class="tan">
                <label for="m3000"><input type="checkbox" name="tangen" value="m3000" id="m3000" />たし算</label>
                <label for="m3100"><input type="checkbox" name="tangen" value="m3100" id="m3100" />ひき算</label>
                <label for="m3200"><input type="checkbox" name="tangen" value="m3200" id="m3200" />かけ算</label>
                <label for="m3300"><input type="checkbox" name="tangen" value="m3300" id="m3300" />わり算</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">分数の計算</div>
              <div class="tan">
                <label for="m3400"><input type="checkbox" name="tangen" value="m3400" id="m3400" />通分なし</label>
                <label for="m3500"><input type="checkbox" name="tangen" value="m3500" id="m3500" />通分あり</label>
                <label for="m3600"><input type="checkbox" name="tangen" value="m3600" id="m3600" />かけ算</label>
                <label for="m3700"><input type="checkbox" name="tangen" value="m3700" id="m3700" />わり算</label>
                <label for="m3800"><input type="checkbox" name="tangen" value="m3800" id="m3800" />約分</label>
                <label for="m3900"><input type="checkbox" name="tangen" value="m3900" id="m3900" />帯分数</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">割合</div>
              <div class="tan">
                <label for="m4000"><input type="checkbox" name="tangen" value="m4000" id="m4000" />百分率</label>
                <label for="m4100"><input type="checkbox" name="tangen" value="m4100" id="m4100" />歩合</label>
                <label for="m4200"><input type="checkbox" name="tangen" value="m4200" id="m4200" />比</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">正負の数</div>
              <div class="tan">
                <label for="m5000"><input type="checkbox" name="tangen" value="m5000" id="m5000" />加減</label>
                <label for="m5200"><input type="checkbox" name="tangen" value="m5200" id="m5200" />乗除</label>
                <label for="m5400"><input type="checkbox" name="tangen" value="m5400" id="m5400" />四則計算</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">文字式の計算</div>
              <div class="tan">
                <label for="m5600"><input type="checkbox" name="tangen" value="m5600" id="m5600" />計算</label>
                <label for="m5700"><input type="checkbox" name="tangen" value="m5700" id="m5700" />分配法則</label>
                <label fo="m5800"><input type="checkbox" name="tangen" value="m5800" id="m5800" />分数の計算</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">方程式</div>
              <div class="tan">
                <label for="m5900"><input type="checkbox" name="tangen" value="m5900" id="m5900" />加減のみ</label>
                <label for="m6000"><input type="checkbox" name="tangen" value="m6000" id="m6000" />乗除のみ</label>
                <label for="m6100"><input type="checkbox" name="tangen" value="m6100" id="m6100" />加減乗除</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">連立方程式</div>
              <div class="tan">
                <label for="m6200"><input type="checkbox" name="tangen" value="m6200" id="m6200" />代入法</label>
                <label for="m6300"><input type="checkbox" name="tangen" value="m6300" id="m6300" />加減法</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">展開公式</div>
              <div class="tan">
                <label for="m6400"><input type="checkbox" name="tangen" value="m6400" id="m6400" />公式１</label>
                <label for="m6500"><input type="checkbox" name="tangen" value="m6500" id="m6500" />公式２，３</label>
                <label for="m6600"><input type="checkbox" name="tangen" value="m6600" id="m6600" />公式４</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">因数分解</div>
              <div class="tan">
                <label for="m6700"><input type="checkbox" name="tangen" value="m6700" id="m6700" />分配法則</label>
                <label for="m6800"><input type="checkbox" name="tangen" value="m6800" id="m6800" />公式１</label>
                <label for="m6900"><input type="checkbox" name="tangen" value="m6900" id="m6900" />公式２，３</label>
                <label for="m7000"><input type="checkbox" name="tangen" value="m7000" id="m7000" />公式４</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">平方根</div>
              <div class="tan">
                <label for="m7100"><input type="checkbox" name="tangen" value="m7100" id="m7100" />簡単化</label>
                <label for="m7200"><input type="checkbox" name="tangen" value="m7200" id="m7200" />加減</label>
                <label for="m7300"><input type="checkbox" name="tangen" value="m7300" id="m7300" />乗除</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">二次方程式　</div>
              <div class="tan">
                <label for="m7400"><input type="checkbox" name="tangen" value="m7400" id="m7400" />因数分解</label>
                <label for="m7500"><input type="checkbox" name="tangen" value="m7500" id="m7500" />解の公式</label>
              </div>
            </div>
          </div>
        </div>
        <div class="print">
          <input type="hidden" name="tableName" value="math" />
          <input type="submit" class="btn" value="印刷" />
        </div>
      </form>
    </div>
    <!--フッター呼び出し-->
    <%- include('footer'); %>
  </body>
</html>
