<header>
  <h1 class="header-logo">ＭＯＮ-ＤＯ</h1>
  <div class="header-right">
    <P>　　年　　組　名前：　　　　　　　　</P>
    <div class="header-right-container">
      <p>/<%=quecount%></p>
    </div>
  </div>
</header>
