<!DOCTYPE html>
<html>
  <!--ヘッド*/-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mon-Do</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="stylesheets/stylesheet1.css" />
    <script src="/javascripts/header.js"></script>
  </head>

  <!--ボディ-->
  <body>
    <!--ヘッダー呼び出し-->
    <%- include('header'); %>
    <!--本文-->
    <div class="choice" id="content">
      <form action="/print/other" method="post">
        <div class="ctl">
          <div class="quecount">
            <h2>問題数</h2>
            <div class="count">
              <label for="5"><input type="radio" name="quecount" value="5" id="5" />5問</label>
              <label for="10"> <input type="radio" name="quecount" value="10" id="10" />10問</label>
              <label for="15"><input type="radio" name="quecount" value="15" id="15" checked />15問</label>
            </div>
          </div>
          <div class="tangens">
            <h2>出題範囲を選択してください</h2>
            <div class="tangen">
              <div class="tang">１年生</div>
              <div class="tan">
                <label for="scseibutu1"><input type="checkbox" name="tangen" value="scseibutu1" id="scseibutu1" />植物の生活と種類　　</label>
                <label for="sckagaku1"><input type="checkbox" name="tangen" value="sckagaku1" id="sckagaku1" />物質のすがた　　　　</label>
                <label for="scbuturi1"><input type="checkbox" name="tangen" value="scbuturi1" id="scbuturi1" />身近な物理現象　　　</label>
                <label for="sctigaku1"><input type="checkbox" name="tangen" value="sctigaku1" id="sctigaku1" />大地の変化　　　　　</label><br />
              </div>
            </div>
            <div class="tangen">
              <div class="tang">２年生</div>
              <div class="tan">
                <label for="sckagaku2"><input type="checkbox" name="tangen" value="sckagaku2" id="sckagaku2" />化学変化と原子・分子</label>
                <label for="scseibutu2"><input type="checkbox" name="tangen" value="scseibutu2" id="scseibutu2" />生物の体のつくり</label>
                <label for="scbuturi2"><input type="checkbox" name="tangen" value="scbuturi2" id="scbuturi2" />電流とその利用</label>
                <label for="sctigaku2"><input type="checkbox" name="tangen" value="sctigaku2" id="sctigaku2" />気象と天気の変化</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">３年生</div>
              <div class="tan">
                <label for="scbuturi3"><input type="checkbox" name="tangen" value="scbuturi3" id="scbuturi3" />運動とエネルギー</label>
                <label for="scseibutu3"><input type="checkbox" name="tangen" value="scseibutu3" id="scseibutu3" />生命と自然のつながり</label>
                <label for="sckagaku3"><input type="checkbox" name="tangen" value="sckagaku3" id="sckagaku3" />化学変化とイオン</label>
                <label for="sctigaku3"><input type="checkbox" name="tangen" value="sctigaku3" id="sctigaku3" />地球と宇宙</label>
                <label for="sceirth"><input type="checkbox" name="tangen" value="sceirth" id="sceirth" />地球の明るい未来</label>
              </div>
            </div>
          </div>
        </div>
        <div class="print">
          <input type="hidden" name="printrange" value="printshufful" checked />
          <input type="hidden" name="tableName" value="science" />
          <input type="submit" class="btn" value="印刷" />
        </div>
      </form>
    </div>
    <!--フッター呼び出し-->
    <%- include('footer'); %>
  </body>
</html>
