<!DOCTYPE html>
<html>
  <!--ヘッド*/-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mon-Do</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="stylesheets/stylesheet1.css" />
  </head>

  <!--ボディ-->
  <body>
    <!--ヘッダー呼び出し-->
    <%- include('header'); %>
    <!--本文-->
    <div class="choice">
      <form action="/print/other" method="post">
        <div class="ctl">
          <div class="quecount">
            <h2>問題数</h2>
            <div class="count">
              <input type="radio" name="quecount" value="5" />5問
              <input type="radio" name="quecount" value="10" />10問
              <input type="radio" name="quecount" value="15" checked />15問
            </div>
          </div>
          <div class="tangen">
            <h2>出題範囲を選択してください</h2>
            <div class="1nensei">
              <h3>１年生</h3>
              <input type="checkbox" name="tangen" value="scseibutu1" />植物の生活と種類　　
              <input type="checkbox" name="tangen" value="sckagaku1" />物質のすがた　　　　
              <input type="checkbox" name="tangen" value="scbuturi1" />身近な物理現象　　　
              <input type="checkbox" name="tangen" value="sctigaku1" />大地の変化　　　　　<br />
            </div>
            <div class="2nensei">
              <h3>２年生</h3>
              <input type="checkbox" name="tangen" value="sckagaku2" />化学変化と原子・分子
              <input type="checkbox" name="tangen" value="scseibutu2" />生物の体のつくり　　
              <input type="checkbox" name="tangen" value="scbuturi2" />電流とその利用　　　
              <input type="checkbox" name="tangen" value="sctigaku2" />気象と天気の変化　　<br />
            </div>
            <div class="3nensei">
              <h3>３年生</h3>
              <input type="checkbox" name="tangen" value="scbuturi3" />運動とエネルギー　　
              <input type="checkbox" name="tangen" value="scseibutu3" />生命と自然のつながり
              <input type="checkbox" name="tangen" value="sckagaku3" />化学変化とイオン　　<br />
              <input type="checkbox" name="tangen" value="sctigaku3" />地球と宇宙　　　　　
              <input type="checkbox" name="tangen" value="sceirth" />地球の明るい未来　　<br />
            </div>
          </div>
        </div>
        <div class="print">
          <input type="hidden" name="printrange" value="printshufful" checked />
          <input type="hidden" name="tableName" value="science" />
          <input type="submit" class="btn" value="印刷" />
        </div>
      </form>
    </div>
    <!--フッター呼び出し-->
    <%- include('footer'); %>
  </body>
</html>
