<!DOCTYPE html>
<html>
  <!--ヘッド*/-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mon-Do</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="stylesheets/stylesheet2.css" />
  </head>

  <!--ボディ-->
  <body>
    <!--ヘッダー呼び出し-->

    <%- include('header'); %>

    <!--本文-->

    <div class="container">
      <div class="item-form-wrapper">
        <p class="form-label">問答</p>
        <form action="/test" method="post">
          <input name="tangen" type="text" />
          <input type="submit" value="更新する" />
        </form>
        <%= tangen %>
      </div>
    </div>

    <!--フッター呼び出し-->
    <%- include('footer'); %>
  </body>
</html>
