<!DOCTYPE html>
<html>
  <!--ヘッド*/-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mon-Do</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="stylesheets/stylesheet1.css" />
    <script src="/javascripts/header.js"></script>
  </head>

  <!--ボディ-->
  <body>
    <!--ヘッダー呼び出し-->

    <%- include('header'); %>

    <div class="choice" id="content">
      <!--トップ画-->
      <div class="top-wrapper">
        <div class="top-container">
          <h1>ＭＯＮ-ＤＯ</h1>
          <h2>学習プリント無料作成</h2>
          <p>
            一問一答式の学習プリントを自由に印刷できます<br />
            誰でも、何枚でも、いつまでも無料です
          </p>
        </div>
      </div>

      <!--教科ボタン-->
      <div class="subject-wrapper">
        <div class="heading">
          <h2>プリントを印刷</h2>
        </div>
        <div class="subjects">
          <!--国語-->
          <div class="subject">
            <div class="subject-icon">
              <a href="/jpn"><img src="/images/img_jpn.png" /></a>
            </div>
            <p class="txt-contents">【小学生】<br />漢字テスト</p>
          </div>
          <!--数学-->
          <div class="subject">
            <div class="subject-icon">
              <a href="/math"><img src="/images/img_math.png" /></a>
            </div>
            <p class="txt-contents">【小中学生】<br />計算テスト</p>
          </div>
          <!--英語-->
          <div class="subject">
            <div class="subject-icon">
              <a href="/eng"><img src="/images/img_eng.png" /></a>
            </div>
            <p class="txt-contents">【中学生】<br />英単語テスト</p>
          </div>
        </div>

        <div class="subjects">
          <!--理科-->
          <div class="subject">
            <div class="subject-icon">
              <a href="/sci"><img src="/images/img_sec.png" /></a>
            </div>
            <p class="txt-contents">【中学生】<br />一問一答テスト</p>
          </div>
          <!--社会-->
          <div class="subject">
            <div class="subject-icon">
              <a href="/sost"><img src="/images/img_sost.png" /></a>
            </div>
            <p class="txt-contents">【中学生】<br />一問一答テスト</p>
          </div>
          <!--雑学-->
          <div class="subject">
            <div class="subject-icon">
              <a href="/zatu"><img src="/images/img_zatu.png" /></a>
            </div>
            <p class="txt-contents">【分野別】<br />雑学の一問一答</p>
          </div>
        </div>
      </div>

      <div class="message-wrapper">
        <div class="heading">
          <h2>先生方へのお願い</h2>
          <h3>一緒にMon-doサイトを育てませんか？</h3>
          <h3>あなたが創った一問一答が印刷できます。</h3>
        </div>
        <a href="/signup" class="btn">一問一答をつくる</a>
      </div>
    </div>
    <!--フッター呼び出し-->
    <%- include('footer'); %>
  </body>
</html>
