<!DOCTYPE html>
<html>
  <!--ヘッド*/-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mon-Do</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="stylesheets/stylesheet1.css" />
    <script src="/javascripts/header.js"></script>
  </head>

  <!--ボディ-->
  <body>
    <!--ヘッダー呼び出し-->

    <%- include('header'); %>
    <!--本文-->
    <div class="choice" id="content">
      <form action="/print/other" method="post">
        <div class="ctl">
          <div class="quecount">
            <h2>問題数</h2>
            <div class="count">
              <label for="5"><input type="radio" name="quecount" value="5" id="5" />5問</label>
              <label for="10"> <input type="radio" name="quecount" value="10" id="10" />10問</label>
              <label for="15"><input type="radio" name="quecount" value="15" id="15" checked />15問</label>
            </div>
          </div>
          <div class="tangens">
            <h2>出題範囲を選択してください</h2>
            <div class="tangen">
              <div class="tang">理科系</div>
              <div class="tan">
                <label for="zatu1"><input type="checkbox" name="tangen" value="zatu1" id="zatu1" />宇宙</label>
                <label for="zatu2"><input type="checkbox" name="tangen" value="zatu2" id="zatu2" />地球</label>　
                <label for="zatu3"><input type="checkbox" name="tangen" value="zatu3" id="zatu3" />生き物</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">社会系</div>
              <div class="tan">
                <label for="zatu4"><input type="checkbox" name="tangen" value="zatu4" id="zatu4" />歴史</label>
                <label for="zatu5"><input type="checkbox" name="tangen" value="zatu5" id="zatu5" />世界の国々</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">芸術系</div>
              <div class="tan">
                <label for="zatu6"><input type="checkbox" name="tangen" value="zatu6" id="zatu6" />文学</label>
                <label for="zatu7"><input type="checkbox" name="tangen" value="zatu7" id="zatu7" />音楽</label>
              </div>
            </div>
            <div class="tangen">
              <div class="tang">一般</div>
              <div class="tan">
                <label for="zatu8"><input type="checkbox" name="tangen" value="zatu8" id="zatu8" />インターネット</label>
              </div>
            </div>
          </div>
        </div>
        <div class="print">
          <input type="hidden" name="printrange" value="printshufful" checked />
          <input type="hidden" name="tableName" value="zatugaku" />
          <input type="submit" class="btn" value="印刷" />
        </div>
      </form>
    </div>
    <!--フッター呼び出し-->
    <%- include('footer'); %>
  </body>
</html>
