/*全ページ共通のスタイルシート*/

/*・・・・・・共通部分のスタイル・・・・・・*/

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "KleeOne-SemiBold";
  src: url("/fontfile/KleeOne-SemiBold.ttf") format("truetype");
  /* フォントファイルのパスはpublicディレクトリを基準として指定します */
}

body {
  margin: 0;
  font-family: "KleeOne-SemiBold", sans-serif;
  font-size: 16px;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 1000px #fcfcfd inset;
}

a {
  font-size: 18px;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
img:hover {
  opacity: 0.7;
}

/*チェックボックス改善*/
label,
input[type="checkbox"] {
  cursor: pointer;
}
/*ボタン共通*/
.btn {
  font-size: 24px;
  padding: 8px 90px;
  font-weight: bold;
  color: white;
  border: none;
  text-shadow: 1px 1px 2px rgb(63, 63, 63);
  background-color: #50c1e9;
  display: inline-block;
  height: 54px;
  width: 60%;
  border-radius: 27px;
  display: block;
  margin: 40px auto 0;
  box-shadow: 0px 7px #216e8a;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 0px 7px #216e8a;
}
.btn:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

/*印刷ボタン*/
.print {
  margin: auto;
  margin-bottom: 30px;
}
.print input[type="submit"] {
  font-size: 23px;
  padding: 0 90px;
  font-weight: bold;
  display: block;
  height: 54px;
  width: 60%;
  margin: 20px auto 0;
}

/*押しボタン中（右上）*/
.btn-mid {
  font-size: 24px;
  height: 48px;
  width: 60%;
  padding: 0%;
  text-align: center;
  background-color: #5be7c4;
  box-shadow: 0px 7px #3b967f;
}
.btn-mid:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 0px 7px #3b967f;
}
.btn-mid:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}
/*押しボタン小*/
.btn-small {
  width: auto;
  height: 40px;
  border: none;
  display: block;
  background-color: rgb(162, 162, 162);
  box-shadow: 0px 5px rgb(67, 67, 67);
}
.btn-small:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 0px 7px rgb(75, 75, 75);
}
.btn-small:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}
/*黄色いベース部分*/
.ctl {
  padding: 20px 40px;
  margin: auto;
  margin-top: 80px;
  width: 80%;
  background-color: #fff8dc;
  box-shadow: 0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
  -webkit-box-shadow: 0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
  -moz-box-shadow: 0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
}
.ctl h2 {
  font-size: 18px;
  padding-left: 40px;
  padding-right: 40px;
  width: fit-content;
  background-color: #c3dbf7;
}
.ctl h3 {
  font-size: 18px;
  margin-left: 50px;
  padding: 0px;
}

/*フォームエリア*/
form > p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
form > a {
  display: block;
  width: 50%;
  text-align: left;
  margin: 10px auto 0;
  color: #a4b5c8;
  font-weight: bold;
  padding: 15px 0;
}
input,
textarea {
  width: 100%;
  padding: 16px 20px;
  line-height: 1.8;
  border: 1px solid #d5dee8;
  background-color: #fcfcfd;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  color: #2b546a;
}
input:hover,
textarea:hover {
  border-color: #b6c4d2;
  box-shadow: 0px 0px 12px 1px rgba(160, 195, 247, 0.2);
}
input:focus,
textarea:focus {
  border-color: #b6c4d2;
}
textarea {
  resize: vertical;
}
input[name="title"] {
  margin-bottom: 30px;
}
textarea[name="summary"] {
  margin-bottom: 30px;
  height: calc(2em * 3 + 1em);
  line-height: 2;
}
textarea[name="content"] {
  padding: 24px 28px;
  height: calc(2em * 15 + 1em);
  line-height: 2;
}

.select {
  display: flex;
  flex-wrap: wrap;
  background-color: #5be7c4;
  height: 110px;
}
.select p {
  font-size: 18px;
  padding: 5px 0;
  margin: 0;
  background-color: #80bcff;
}
.pulldown {
  flex: 1 1 200px; /* 各要素の幅を調整してください */
  margin-right: 10px; /* 各要素の間隔を調整してください */
  float: left;
  background-color: #7a57d1;
}
.pulldown input[type="submit"] {
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgb(63, 63, 63);
  padding: 2px 5px 8px 8px;
  margin: 30px auto 0;
}
.print {
  flex: 0 0 auto;
}
.error-message {
  height: 20px;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 14px;
  color: red;
  background-color: #80bcff;
}
/*印刷範囲選択（まるごと‐シャッフル）*/
.printcount {
  padding: 20px 10px;
  line-height: 40px;
}
.printcount input[type="radio"] {
  width: 18px;
  margin-left: 80px;
}
/*・・・・・・登録、ログインページ・・・・・・*/

.sign {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.sign > .container {
  width: 550px;
  padding: 60px 0;
}
.sign > .container > p {
  margin-top: 36px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.sign > .container form {
  padding-top: 20px;
}
.sign h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
}
.sign h2 {
  text-align: center;
  font-size: 24px;
}
.sign form > p {
  margin-bottom: 10px;
}
.sign input {
  padding: 10px 20px;
}
.sign input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fff inset;
}
.sign input[name="username"] {
  margin-bottom: 30px;
}
.sign input[name="email"] {
  margin-bottom: 30px;
}
.sign input[type="submit"] {
  font-size: 18px;
  font-weight: bold;
  height: 54px;
  padding: 0 90px;
  border-radius: 27px;
  width: 60%;
  display: block;
  margin: 80px auto 0;
}
.signpanel {
  padding: 20px 40px;
  margin: auto;
  margin-top: 80px;
  width: 95%;
  background-color: #fff8dc;
  box-shadow: 0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
  -webkit-box-shadow: 0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
  -moz-box-shadow: 0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
}
.signpanel ul {
  color: red;
}
.signpanel a {
  text-align: center;
  color: #2b546a;
}
.signpanel a:hover {
  color: red;
}

/*・・・・・・・ヘッダーフッター・・・・・・*/
/*ヘッダー*/
header {
  height: 65px;
  width: 100%;
  background-color: #50c1e9;
  position: fixed;
  top: 0px;
  z-index: 10;
}
/*ヘッダーロゴ*/
.header-logo {
  margin-left: 25px;
  font-weight: bold;
  font-family: "OCRB";
  font-size: 50px;
  line-height: 70px;
  color: #7a45d1;
  float: left;
  text-shadow: 4px 4px 6px rgb(197, 197, 197);
  display: inline;
}
.header-logo:hover {
  color: #9979ce;
}
.header-left {
  float: left;
}
.header-left p {
  padding-left: 25px;
  margin-top: 25px;
  float: right;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(63, 63, 63);
}
.header-menu {
  float: right;
  margin-left: 25px;
  margin-right: -25px;
}
.header-menu a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(63, 63, 63);
  display: block;
  float: left;
  transition: all 0.5s;
}
.header-menu a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/*メニューボタン*/
.header-right {
  float: right;
  margin-right: -25px;
}
.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(63, 63, 63);
  display: block;
  float: left;
  transition: all 0.5s;
}
.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/*フッター*/
footer img {
  width: 125px;
}
footer p {
  color: black;
  font-size: 12px;
}
footer {
  padding-top: 30px;
  bottom: 0;
  background-color: #5be7c4;
}

/*・・・・・・・・各ページごとの設定・・・・・・・・*/

/*・・・・・・トップページ・・・・・・*/
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url("/images/top.png");
  background-position: center;
  color: #7a57d1;
  text-shadow: 1px 1px 2px rgb(63, 63, 63);
  margin: auto;
  margin-top: 65px;
  background-size: cover;
  text-align: center;
}
.top-container {
  width: 50%;
  opacity: 0.9;
  background-color: #fff8dc;
  padding: 0 15px;
  margin: auto;
}
.top-wrapper h1 {
  padding-top: 15px;
  font-size: 50px;
  letter-spacing: 5px;
}
.top-wrapper h2 {
  font-size: 36px;
  letter-spacing: 5px;
}
.top-wrapper p {
  padding-bottom: 10px;
}

/*教科ボタンエリア*/
.subject-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}
.heading {
  padding-top: 60px;
  padding-bottom: 10px;
  color: #5f5d60;
  text-align: center;
}
.heading h2 {
  font-weight: normal;
}
.subject {
  float: left;
  width: 33%;
}
.subject2 {
  float: left;
  width: 33%;
}
.subject-icon {
  padding-top: 20px;
  position: relative;
}
.subject-icon p {
  position: absolute;
  top: 80px;
  width: 100%;
  color: rgb(11, 11, 11);
}
.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  color: #0c0c0c;
}
.heading h3 {
  font-weight: normal;
}

/*メッセージエリア*/
.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}
.message {
  padding: 15px 30px;
  font-size: 24px;
}

/*・・・・・・科目ページ・・・・・・*/
/*選択パネル*/
.quecount {
  padding: 0px 10px;
  line-height: 40px;
}
.quecount input[type="radio"] {
  width: 18px;
  margin-left: 80px;
}
.quecount .count {
  padding: 0px 10px;
}

/*単元選択*/
.choice {
  margin-bottom: 20px;
}
.tangen {
  padding: 0px 10px;
  line-height: 40px;
}
.tangen input[type="checkbox"] {
  width: 18px;
  margin-left: 80px;
}
.tangen .write {
  padding: 0px 10px;
  line-height: 40px;
}
.tangen .read {
  padding: 0px 10px;
  line-height: 40px;
}
.math-tangen span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 50px;
  padding: 0px;
}

/*・・・・・・新規作成＆編集・・・・・・・*/

.edit {
  display: flex;
  justify-content: center;
}
.edit > .container {
  width: 70%;
  padding: 60px 0;
}
.edit .ctl h2 {
  text-align: center;
  font-size: 24px;
  width: auto;
  background-color: rgba(0, 0, 0, 0);
}
.edit .pulldown {
  width: 30%;
}
.edit a {
  text-align: center;
  color: #2b546a;
}
.edit a:hover {
  color: red;
}
/*・・・・・・マイページ・・・・・・*/
.container-header {
  width: 100%;
  height: 90px;
  margin-top: 70px;
  margin-bottom: 10px;
  background-color: #7a57d1;
  display: flex;
}

.container-header > h1 {
  width: 15%;
  height: 10px;
  margin: 5px;
}
.container-header .setumei {
  width: 45%;
  background-color: pink;
  padding-top: 0;
}
.container-header .setumei > p {
  padding-left: 20px;
  margin: 8px;
}
.container-header a {
  padding: 5px;
  text-align: center;
  margin-right: 10px;
  margin-top: 20px;
}
.container-header > .new {
  width: 40%;
  text-align: right;
  padding-right: 10px;
  background-color: #ff7f8c;
}
.index-table-wrapper {
  overflow: auto; /* スクロールバーを表示 */
  max-width: 100%; /* コンテナの最大幅を設定 */
}
.table-head {
  display: flex;
  background-color: #b7cadc;
  border-radius: 2px 2px 0 0;
  height: 46px;
  width: 100%;
  font-size: 20px;
  line-height: 46px;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgb(63, 63, 63);
}

.checkbox-container {
  width: 10%;
  text-align: center;
  font-size: 10px;
}
.id-column {
  width: 5%;
  text-align: center;
  background-color: #7a45d1;
}
.textcategory-column {
  width: 10%;
  text-align: center;
  background-color: bisque;
}
.tangen-column {
  width: 10%;
  text-align: center;
  background-color: #80bcff;
}
.question-column {
  width: 20%;
  text-align: left;
  padding-left: 10px;
  background-color: chartreuse;
}
.answer-column {
  width: 20%;
  text-align: center;
  background-color: cyan;
}
.grade-column {
  width: 72px;
  text-align: center;
}
.date-column {
  width: 72px;
  text-align: center;
  background-color: #7a57d1;
}
.editor-column {
  width: 72px;
  text-align: center;
  background-color: cornflowerblue;
}
.table-body {
  width: 100%;
  height: 600px;
  background-color: #ffffff;
}
.table-body li {
  height: 50px;
  border: 1px solid #f0f4f9;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8491a5;
}
.table-body .checkbox {
  font-size: 16px;
  color: #bac6d3;
}
.table-body .check-list {
  font-size: 16px;
  color: #bac6d3;
}
.table-body .id-column {
  font-size: 16px;
  color: #bac6d3;
}
.table-body .textcategory-column {
  font-size: 14px;
  font-weight: 500;
  color: #8491a5;
}
.table-body .tangen-column {
  font-size: 14px;
  font-weight: 500;
  color: #8491a5;
}
.table-body .question-column {
  font-size: 14px;
  font-weight: 500;
  color: #8491a5;
  text-align: left;
}
.table-body .answer-column {
  font-size: 14px;
  font-weight: 500;
  color: #8491a5;
}
.table-body .grade-column {
  font-size: 14px;
  font-weight: 500;
  color: #8491a5;
}
.table-body .date-column {
  font-size: 14px;
  font-weight: 500;
  color: #8491a5;
}
.table-body .editor-column {
  font-size: 14px;
  font-weight: 500;
  color: #8491a5;
}
.user-data {
  display: flex;
  width: 100%;
  background-color: deeppink;
}
.list-menu {
  display: flex;
}
.list-menu form {
  width: 60px;
  text-align: center;
}
.list-menu form input {
  font-size: 16px;
  color: #bac6d3;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}
.list-menu form input:hover {
  color: #ff7f8c;
  transition: all 0.3s ease;
}
.list-menu a {
  width: 60px;
  font-size: 16px;
  color: #bac6d3;
  text-align: center;
}
.list-menu a:hover {
  color: #80bcff;
}
/*・・・・・・・・・ルビ・・・・・・・・・*/
ruby[data-ruby] {
  position: relative;
}
ruby[data-ruby]::before {
  content: attr(data-ruby);
  position: absolute;
  left: -2em;
  top: 0.3em;
  right: -1.5em;
  text-align: center;
  font-size: 0.5em;
  color: black;
}
.jpn-mondo {
  font-size: 18px;
  writing-mode: vertical-rl;
}
.jpn-mondo .mon {
  border: solid 1px #454545;
  color: lightgray;
}

/**/
@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper .btn {
    width: 100%;
  }

  .top-wrapper {
    text-align: center;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }
}
