body {
  margin: 0;
  font-family: "UD デジタル 教科書体 N-R";
  background-color: #999999;
  font-size: 12pt;
}

p {
  font-size: 16px;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  height: 50px;
}
.odai {
  margin-left: 8mm;
  margin-top: 3mm;
  margin-bottom: 3mm;
}
.area {
  width: auto;
  height: 240mm;
}
.area2 {
  width: 130mm;
  height: 240mm;

  float: left;
}
.question {
  width: 50%;

  flex: 1;
  padding: 10px;
}
.ansbox {
  width: 30%;
  float: right;
  margin-top: 1mm;
  height: 6mm;
  border: 1px solid rgb(77, 77, 77);
  padding: 10px;
}
.advarea {
  width: 60mm;
  height: 240mm;
  float: right;
}
/*ヘッダー*/
header {
  height: 17mm;
  width: 100%;
  top: 0px;
  border-bottom: 1px solid rgb(77, 77, 77);
}

/*ヘッダーロゴ*/
.header-logo {
  margin: 6px;
  padding: 0px;
  padding-left: 5px;
  font-weight: bold;
  font-family: "OCRB";
  font-size: 36px;
  height: 13mm;
  color: rgb(49, 49, 49);
  text-shadow: 4px 4px 6px rgb(197, 197, 197);
  display: inline;
  float: left;
}

.header-right {
  height: 15mm;
  width: 66%;
  float: right;
}

.header-right > p {
  line-height: 9mm;
  margin-top: 8mm;
  display: block;
  float: left;
}
.header-right-container {
  width: 10%;
  height: 15mm;
  bottom: 0;
  margin: 3px;
  padding: 0 25px;
  font-size: 16px;
  display: block;
  float: right;
  position: relative;
  border: 1px solid rgb(77, 77, 77);
}
.header-right-container p {
  position: absolute;
  bottom: 2px;
  right: 4px;
  margin: 0;
  padding-top: auto;
  padding-bottom: 0;
  padding-left: auto;
  padding-right: 0;
}

/*フッター*/
footer p {
  font-size: 14px;
  margin: 2px;
  padding: 2px;
  padding-top: 20px;
}
footer {
  width: 100%;
  text-align: right;

  margin-top: auto;
  margin-bottom: 0;
}

.svgImg {
  width: 100%;
  height: 230mm;
  margin-top: 5mm;
  margin-left: 10mm;
  display: flex;
  align-items: baseline;
}

img {
  max-width: 100%;
  max-height: 100%;
  /*border: 1px solid rgb(77, 77, 77);*/
}
@media screen {
  .page {
    width: 19.2cm;
    height: 27.9cm;
    padding: 0.9cm;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px #000000;
    margin: 30px auto;
  }
}
@media print {
  .page {
    padding: 0;
    font-size: 11pt;
    margin: 0;
    size: auto; /* サイズを自動に設定 */
  }

  .page-break {
    page-break-after: always;
    color: #ffff;
    background-color: #ffff;
    border: none;
  }
}
