* {
  box-sizing: border-box;
}
@font-face {
  font-family: "KleeOne-SemiBold";
  src: url("/fontfile/KleeOne-SemiBold.ttf") format("truetype");
  /* フォントファイルのパスはpublicディレクトリを基準として指定します */
}

body {
  margin: 0;
  font-family: "KleeOne-SemiBold", sans-serif;
  font-size: 16px;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 1000px #fcfcfd inset;
}

a {
  font-size: 18px;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.select {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.select li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.select p {
  flex: 0 0 30%;
  margin-right: 10px;
}

.select select,
.select input[type="checkbox"] {
  flex: 0 0 70%;
  margin-right: 10px;
}

.select input[type="submit"] {
  flex: 1 0 100%;
}
.error-message {
  margin-top: 5px;
  height: 10mm;
  color: red;
}
img:hover {
  opacity: 0.7;
}

/*トップ画*/
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url("/images/top.png");
  background-position: center;
  color: #7a57d1;
  text-shadow: 1px 1px 2px rgb(63, 63, 63);
  margin: auto;
  margin-top: 65px;
  background-size: cover;
  text-align: center;
}
.top-container {
  width: 50%;
  opacity: 0.9;
  background-color: #fff8dc;
  padding: 0 15px;
  margin: auto;
}
.top-wrapper h1 {
  padding-top: 15px;
  font-size: 50px;
  letter-spacing: 5px;
}
.top-wrapper h2 {
  font-size: 36px;
  letter-spacing: 5px;
}
.top-wrapper p {
  padding-bottom: 10px;
}

/*ヘッダー*/
header {
  height: 65px;
  width: 100%;
  background-color: #50c1e9;
  position: fixed;
  top: 0px;
  z-index: 10;
}

/*ヘッダーロゴ*/
.header-logo {
  margin-left: 25px;
  font-weight: bold;
  font-family: "OCRB";
  font-size: 50px;
  line-height: 70px;
  color: #7a45d1;
  text-shadow: 4px 4px 6px rgb(197, 197, 197);
  display: inline;
}
.header-logo:hover {
  color: #9979ce;
}
.header-left {
  float: left;
}
.header-left p {
  padding-left: 25px;
  margin-top: 25px;
  float: right;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(63, 63, 63);
}

/*メニューボタン*/
.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(63, 63, 63);
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/*.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}*/

/*教科ボタンエリア*/
.subject-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}
.heading {
  padding-top: 60px;
  padding-bottom: 10px;
  color: #5f5d60;
  text-align: center;
}
.heading h2 {
  font-weight: normal;
}

.subject {
  float: left;
  width: 33%;
}
.subject2 {
  float: left;
  width: 33%;
}
.subject-icon {
  padding-top: 20px;
  position: relative;
}
.subject-icon p {
  position: absolute;
  top: 80px;
  width: 100%;
  color: rgb(11, 11, 11);
}
.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  color: #0c0c0c;
}

.heading h3 {
  font-weight: normal;
}

/*塾の先生へ*/
.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}
.message {
  padding: 15px 30px;
  font-size: 24px;
}

/*フッター*/
footer img {
  width: 125px;
}
footer p {
  color: black;
  font-size: 12px;
}
footer {
  padding-top: 30px;
  bottom: 0;
  background-color: #5be7c4;
}

/*ログイン、登録画面*/
form > p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
form > a {
  display: block;
  width: 50%;
  text-align: left;
  margin: 10px auto 0;
  color: #a4b5c8;
  font-weight: bold;
  padding: 15px 0;
}
input,
textarea {
  width: 100%;
  padding: 16px 20px;
  line-height: 1.8;
  border: 1px solid #d5dee8;
  background-color: #fcfcfd;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  color: #2b546a;
}
input:hover,
textarea:hover {
  border-color: #b6c4d2;
  box-shadow: 0px 0px 12px 1px rgba(160, 195, 247, 0.2);
}
input:focus,
textarea:focus {
  border-color: #b6c4d2;
}
textarea {
  resize: vertical;
}
input[name="title"] {
  margin-bottom: 30px;
}
textarea[name="summary"] {
  margin-bottom: 30px;
  height: calc(2em * 3 + 1em);
  line-height: 2;
}
textarea[name="content"] {
  padding: 24px 28px;
  height: calc(2em * 15 + 1em);
  line-height: 2;
}

input[type="submit"] {
  font-size: 18px;
  border: none;
  height: 54px;
  padding: 0 90px;
  width: 60%;
  margin: 80px auto 0;
}

/*登録、ログイン*/
.sign {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  min-height: 100vh;
}
.sign > .container {
  width: 550px;
  padding: 60px 0;
}
.sign > .container > p {
  margin-top: 36px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
.sign > .container form {
  padding-top: 20px;
}

.sign h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
}
.sign h2 {
  text-align: center;
  font-size: 24px;
}
.sign form > p {
  margin-bottom: 10px;
}
.sign input {
  padding: 10px 20px;
}
.sign input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #fff inset;
}
.sign input[name="username"] {
  margin-bottom: 30px;
}
.sign input[name="email"] {
  margin-bottom: 30px;
}
.sign input[type="submit"] {
  font-size: 18px;
  font-weight: bold;
  height: 54px;
  padding: 0 90px;
  border-radius: 27px;
  width: 60%;
  display: block;
  margin: 80px auto 0;
}
.signpanel {
  padding: 20px 40px;
  margin: auto;
  margin-top: 80px;
  width: 95%;
  background-color: #fff8dc;
  box-shadow: 0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
  -webkit-box-shadow: 0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
  -moz-box-shadow: 0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
}
.signpanel ul {
  color: red;
}
.signpanel a {
  text-align: center;
  color: #2b546a;
}
.signpanel a:hover {
  color: #6a2b2b;
}

/*選択パネル*/
.quecount {
  padding: 0px 10px;
  line-height: 40px;
}

.quecount input[type="radio"] {
  width: 18px;
  margin-left: 80px;
}

.quecount .count {
  padding: 0px 10px;
}

/*単元選択*/
.choice {
  margin-bottom: 20px;
}
.tangen {
  padding: 0px 10px;
  line-height: 40px;
}
.tangen input[type="checkbox"] {
  width: 18px;
  margin-left: 80px;
}
.tangen .write {
  padding: 0px 10px;
  line-height: 40px;
}
.tangen .read {
  padding: 0px 10px;
  line-height: 40px;
}
.ctl {
  padding: 20px 40px;
  margin: auto;
  margin-top: 80px;
  width: 80%;
  background-color: #fff8dc;
  box-shadow: 0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
  -webkit-box-shadow: 0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
  -moz-box-shadow: 0 0 5px #fff, 0 0 5px #ccc, 0 0 1px #aaa;
}
.ctl h2 {
  font-size: 18px;
  padding-left: 40px;
  padding-right: 40px;
  width: fit-content;
  background-color: #c3dbf7;
}
.ctl h3 {
  font-size: 18px;
  margin-left: 50px;
  padding: 0px;
}
.math-tangen span {
  font-size: 18px;
  font-weight: bold;
  margin-left: 50px;
  padding: 0px;
}

/*印刷ボタン*/
.print {
  margin: auto;
  margin-bottom: 30px;
}
.print input[type="submit"] {
  font-size: 23px;
  padding: 0 90px;
  font-weight: bold;
  display: block;
  height: 54px;
  width: 60%;
  margin: 20px auto 0;
}

/*プルダウン選択*/
.word label[for="pulldown"] {
  background-color: #e5e5e5;
  font-weight: bold;
  margin-left: 30px;
  display: block flex;
  padding: 10px;
}

/*印刷方法選択*/
.printcount {
  padding: 20px 10px;
  line-height: 40px;
}

.printcount input[type="radio"] {
  width: 18px;
  margin-left: 80px;
}

/*マイページ*/
.container-header h1 {
  font-size: 24px;
  margin-top: 80px;
}
.table-head {
  display: flex;
  background-color: #b7cadc;
  border-radius: 2px 2px 0 0;
  height: 46px;
  width: 100%;
  font-size: 20px;
  line-height: 46px;
  color: #ffffff;
}
.check-list {
  width: 90px;
  height: 20px;
}
.id-column {
  width: 72px;
  text-align: center;
}
.textcategory-column {
  width: 72px;
  text-align: center;
}
.tangen-column {
  width: 72px;
  text-align: center;
}
.question-column {
  width: 72px;
  text-align: left;
  padding-left: 10px;
}
.answer-column {
  width: 72px;
  text-align: center;
}
.grade-column {
  width: 72px;
  text-align: center;
}
.date-column {
  width: 72px;
  text-align: center;
}
.editor-column {
  width: 72px;
  text-align: center;
}

.table-body {
  height: 400px;
  overflow: scroll;
  background-color: #ffffff;
}
.table-body li {
  height: 150px;
  border: 1px solid #f0f4f9;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-body .checkbox {
  font-size: 16px;
  color: #bac6d3;
}
.table-body .check-list {
  font-size: 16px;
  color: #bac6d3;
}
.table-body .id-column {
  font-size: 16px;
  color: #bac6d3;
}
.table-body .textcategory-column {
  font-size: 14px;
  font-weight: 500;
  color: #8491a5;
}
.table-body .tangen-column {
  font-size: 14px;
  font-weight: 500;
  color: #8491a5;
}
.table-body .question-column {
  font-size: 14px;
  font-weight: 500;
  color: #8491a5;
  text-align: left;
}
.table-body .answer-column {
  font-size: 14px;
  font-weight: 500;
  color: #8491a5;
}
.table-body .grade-column {
  font-size: 14px;
  font-weight: 500;
  color: #8491a5;
}
.table-body .date-column {
  font-size: 14px;
  font-weight: 500;
  color: #8491a5;
}
.table-body .editor-column {
  font-size: 14px;
  font-weight: 500;
  color: #8491a5;
}
.user-data {
  display: flex;
}

/*新規作成*/
.item-form-wrapper {
  background-color: #ffffff;
  border: 1px solid #f0f4f9;
  border-radius: 0px 0px 2px 2px;
  padding: 32px;
}

.form-label {
  font-size: 14px;
  color: #8491a5;
}

.item-form-wrapper input[type="text"] {
  width: 100%;
  height: 40px;
  margin-top: 8px;
  padding: 12px 16px;
  background-color: #fcfcfd;
  border: 1px solid #bac6d3;
  border-radius: 2px;
  color: #2b546a;
  font-size: 12px;
}

.item-form-wrapper input[type="submit"] {
  display: block;
  width: 120px;
  height: 45px;
  margin-top: 24px;
  margin-left: auto;
  border-radius: 30px;
  font-size: 14px;
  background-color: #80bcff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: 2px solid #80bcff;
}

.item-form-wrapper input[type="submit"]:hover {
  background-color: #ffffff;
  color: #80bcff;
  transition: all 0.3s ease;
}
.item-menu {
  display: flex;
}
.item-menu form {
  width: 60px;
  text-align: center;
}

.item-menu form input {
  font-size: 16px;
  color: #bac6d3;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.item-menu form input:hover {
  color: #ff7f8c;
  transition: all 0.3s ease;
}

.item-menu a {
  width: 60px;
  font-size: 16px;
  color: #bac6d3;
  text-align: center;
}

.item-menu a:hover {
  color: #80bcff;
}

/*トグルスイッチ*/

/*データテーブル*/
@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper .btn {
    width: 100%;
  }

  .top-wrapper {
    text-align: center;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }
}
