@font-face {
  font-family: "KleeOne-Regular";
  src: url("/fontfile/KleeOne-Regular.ttf") format("truetype");
  /* フォントファイルのパスはpublicディレクトリを基準として指定します */
}

body {
  font-family: "KleeOne-Regular", sans-serif;
  background-color: #999999;
  font-size: 16pt;
}

p {
  font-size: 16px;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  margin-top: 9mm;
  display: flex;
  flex-direction: row;
  height: 170mm;
}
.odai {
  margin-top: 8mm;
  margin-left: 3mm;
  margin-right: 3mm;
}
.area {
  width: 220mm;
  height: auto;
}
.area2 {
  width: 225mm;
  height: 140mm;
  float: left;
}
.area2 > li {
  height: 130mm;
}
.blank {
  background-color: white;
  color: white;
}
.advarea {
  width: 225mm;
  height: auto;
  display: flex;
  float: none;
}

.question {
  width: 8mm;
  height: 100mm;
  padding: 10px;
  flex: 1;
  display: flex;
}
.question > p {
  writing-mode: horizontal-tb;
  text-align: center;
  font-size: 14px;
}
.ansbox {
  width: 7mm;
  float: right;
  margin-top: 1mm;
  margin-right: auto;
  margin-left: 0;
  height: 40mm;
  border: 1px solid rgb(77, 77, 77);
  padding: 10px;
}

/*・・・・・・・・・ルビ・・・・・・・・・*/
ruby[data-ruby] {
  position: relative;
}
ruby[data-ruby]::before {
  content: attr(data-ruby);
  position: absolute;
  left: -2em;
  top: 0.3em;
  right: -1.5em;
  text-align: center;
  font-size: 0.5em;
  color: black;
}
.jpn-mondo {
  font-size: 20px;
  text-align: center;
}
.jpn-mondo .mon {
  font-size: 20px;
  border: solid 1px #454545;
  margin: 3px 0;
  padding: 4px 0;
  padding-left: 4px;
  color: white;
}

/*ヘッダー*/
header {
  height: auto;
  width: 22mm;
  top: 0px;
  border: 1px solid rgb(77, 77, 77);
}

/*ヘッダーロゴ*/
.header-logo {
  margin: 2mm 4mm;
  padding: 0px;
  padding-right: 1mm;
  font-weight: bold;
  font-family: "OCRB";
  font-size: 32px;
  height: 50mm;
  width: 12mm;
  color: rgb(49, 49, 49);
  text-shadow: 4px 4px 6px rgb(197, 197, 197);
  text-align: center;
  display: inline;
  float: left;
  text-orientation: upright;
}
.header-left {
  height: 10mm;
  width: 22mm;
  float: left;
  border-bottom: 1px solid rgb(77, 77, 77);
  writing-mode: horizontal-tb;

  padding-top: 1mm;
}
.header-right {
  height: 108mm;
  width: 22mm;
  float: right;
  border-top: 1px solid rgb(77, 77, 77);
}

.header-right > p {
  margin-top: 4mm;
  margin-right: 9mm;
  display: block;
  float: left;
}
.header-right-container {
  width: 22mm;
  height: 18mm;
  bottom: 0;
  font-size: 16px;
  display: block;
  float: right;
  position: relative;
  border-top: 1px solid rgb(77, 77, 77);
}
.header-right-container p {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding-top: auto;
  padding-bottom: 0;
  padding-left: auto;
  padding-right: 0;
  writing-mode: horizontal-tb;
}

/*フッター*/
footer p {
  font-size: 14px;
  height: 80mm;
  margin-top: auto;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 13mm;
  padding: 2px;
  padding-top: 0px;
}
footer {
  width: 20mm;
  height: auto;
  text-align: right;
  margin-top: auto;
  margin-bottom: 0;
}

@media screen {
  .page {
    width: 26.7cm;
    height: 18cm;
    padding: 1.5cm;
    background-color: #ffffff;
    box-shadow: 3px 3px 3px #000000;
    margin: 30px auto;
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}
@media print {
  @page {
    size: A4 landscape;
  }
  .page {
    padding: 0;
    font-size: 11pt;
    margin: 0;
    size: auto; /* サイズを自動に設定 */
    writing-mode: vertical-rl;
    text-align: center;
    text-orientation: upright;
  }

  .page-break {
    page-break-after: always;
    color: #ffff;
    background-color: #ffff;
    border: none;
  }
}
